<div class="container">
  <app-cockpit
    (serverCreated)="onServerCreated($event)"
    (bpCreated)="onBlueprintCreated($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">
        FirstChangeButton
      </button>
      <button class="btn btn-danger" (click)="OnDestroyFirst()">
        FirstDestroyButton
      </button>
      <app-server-element
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [changedElement]="serverElement.name"
      >
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{
            serverElement.content
          }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{
            serverElement.content
          }}</em>
        </p>
      </app-server-element>

      <app-game-control (fireIntervalEvent)="onFireInterval($event)">
      </app-game-control>
      <app-odd *ngIf="isEven === false" [number]="count"></app-odd>
      <app-even *ngIf="isEven === true" [number]="count"></app-even>
    </div>
  </div>
</div>
